* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  border: 2px solid gray;
}

.header-name {
  width: 15%;
  margin-left: 5rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.product {
  border: 2px solid black;
  flex-basis: 200px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-image {
  
}

.cart-button {
  padding: 0.5rem;
  text-transform: uppercase;
}